@model List<UserVM>
<div class="border-bottom mb-4">
    <h4 class="border-bottom border-dark width-max-conatent m-0 pb-3 pe-2">User</h4>
</div>
<div class="d-flex align-items-center adminSearchContainer mb-4 gap-1">
    <div class="d-flex align-items-center border border-2 rounded py-1 ps-2 gap-1 flex-grow-1">
        <img src="/images/static/search.png" alt="search">
        <input type="search" id="adminSearch" placeholder="Search" class="form-control border-0">
    </div>
    <div class="spinner-border text-secondary opacity-0" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="table-responsive border">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Emp Id</th>
                <th>Department</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.LongCount() == 0)
            {
                <tr>
                    <td colspan="100%">
                        <div class="text-center py-3">No users found.</div>
                    </td>
                </tr>
            }
            @foreach (UserVM user in Model)
            {
                <tr>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    @if (string.IsNullOrEmpty(user.EmployeeId))
                    {
                        <td class="text-center">
                            -
                        </td>
                    }
                    else
                    {
                        <td>
                            @user.EmployeeId-
                        </td>
                    }
                    @if (string.IsNullOrEmpty(user.Department))
                    {
                        <td class="text-center">
                            -
                        </td>
                    }
                    else
                    {
                        <td>
                            @user.Department
                        </td>
                    }
                    @if (user.Status == true)
                    {
                        <td class="text-success">Active</td>
                    }
                    else
                    {
                        <td class="text-danger">Not Active</td>
                    }
                    <td>
                        @if (user.Status == true)
                        {
                            <img src="/images/static/bin.png" class="cursor-pointer d-inline width-max-conatent"
                         alt="bin" height="20px" width="20px" data-deactivate="@user.Email">
                        }
                        else
                        {
                            <img src="/images/static/arrow-clockwise.svg" class="cursor-pointer d-inline width-max-conatent"
                         alt="bin" height="20px" width="20px" data-activate="@user.Email">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination d-flex justify-content-end gap-1 px-3 my-5"></div>