@using CI_Platform.Entities.Constants
@model UserNotificationContainerVM
<input hidden id="unread" value="@Model.Unread" />
<section class="position-absolute bg-white top-100 end-0 notification notification-div m-2 d-none border border-2 overflow-auto shadow">
    <div class="color-darkgray d-flex p-2 p-md-3 justify-content-between align-items-center border-bottom border-2">
        <img src="~/images/static/settings.png" alt="settings" id="NotificationSetting" class="cursor-pointer">
        <h5 class="m-0">Notification</h5>
        <span class="text-14 cursor-pointer clear-all-notification">Clear all</span>
    </div>
    <div class="color-darkgray fw-light text-15">
        @if (!@Model.NewNotificationVMs.Any())
        {
            <div class="text-center p-3" id="NoNotifications">No new notifications.</div>
        }
        else
        {
            <div class="text-center p-3 d-none" id="NoNotifications">No new notifications.</div>
        }
    </div>
    <div class="notification-content">
        <div class="color-darkgray fw-light text-15">
            @foreach (var notif in @Model.NewNotificationVMs)
            {
                <div class="d-flex justify-content-between gap-2 gap-md-3 border-bottom p-2 p-md-3 align-items-center">
                    <div class="d-flex gap-2 gap-md-3 align-items-center">
                        @if (notif.NotificationVM.NotificationType == NotificationType.ADD)
                        {
                            <img src="~/images/static/add.png" alt="add">
                        }
                        else if (notif.NotificationVM.NotificationType == NotificationType.APPROVE)
                        {
                            <img src="~/images/static/approve.svg" alt="approve">
                        }
                        else if (notif.NotificationVM.NotificationType == NotificationType.DECLINE)
                        {
                            <img src="~/images/static/decline.svg" alt="decline">
                        }
                        else if (notif.NotificationVM.NotificationType == NotificationType.RECOMMEND)
                        {
                            <img src="@notif.NotificationVM.FromUserAvatar" alt="user" height="35" width="35" style="width:35px !important; height:35px !important;" class="object-fit-cover rounded-circle flex-shrink-0">
                        }
                        @Html.Raw(notif.NotificationVM.Message)
                    </div>
                    @if (notif.IsRead == true)
                    {
                        <img src="~/images/static/checked.png" alt="check" class="flex-shrink-0">
                    }
                    else
                    {
                        <div data-id="@notif.UserNotificationId" class="orange-dot rounded-circle flex-shrink-0 cursor-pointer"></div>
                    }
                </div>
            }
        </div>
        @if (Model.OldNotificationVMs.Any())
        {
            <div class="older-title text-center p-1 color-darkgray">
                Older
            </div>
            <div class="color-darkgray fw-light text-15">
                @foreach (var notif in @Model.OldNotificationVMs)
                {
                    <div class="d-flex justify-content-between gap-2 gap-md-3 border-bottom p-2 p-md-3 align-items-center">
                        <div class="d-flex gap-2 gap-md-3 align-items-center">
                            @if (notif.NotificationVM.NotificationType == NotificationType.ADD)
                            {
                                <img src="~/images/static/add.png" alt="add">
                            }
                            else if (notif.NotificationVM.NotificationType == NotificationType.APPROVE)
                            {
                                <img src="~/images/static/approve.svg" alt="approve">
                            }
                            else if (notif.NotificationVM.NotificationType == NotificationType.DECLINE)
                            {
                                <img src="~/images/static/decline.svg" alt="decline">
                            }
                            else if (notif.NotificationVM.NotificationType == NotificationType.RECOMMEND)
                            {
                                <img src="@notif.NotificationVM.FromUserAvatar" alt="user" height="35" widht="35" style="width:35px !important; height:35px !important;" class="rounded-circle object-fit-cover">
                            }
                            @Html.Raw(notif.NotificationVM.Message)
                        </div>
                        @if (notif.IsRead == true)
                        {
                            <img src="~/images/static/checked.png" alt="check" class="flex-shrink-0">
                        }
                        else
                        {
                            <div data-id="@notif.UserNotificationId" class="orange-dot rounded-circle flex-shrink-0 cursor-pointer"></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</section>
<section class="position-absolute bg-white top-100 end-0 notification notification-setting-div m-2 d-none border border-2 overflow-auto shadow">
    <div class="color-darkgray p-2 p-md-3 text-center border-bottom border-2">
        Notification Settings
    </div>
    <div class="older-title py-1 px-2 text-15 color-darkgray">
        Get a Notification for
    </div>
    <partial name="_NotificationSetting" model="@Model.NotificationSettingVM"></partial>
</section>