@model List<MissionThemeVM>
<div class="border-bottom mb-4">
    <h4 class="border-bottom border-dark width-max-conatent m-0 pb-3 pe-2">Mission Theme</h4>
</div>
<div class="d-flex justify-content-between align-items-center mb-4 gap-1">
    <div class="flex-grow-1 d-flex gap-1 align-items-center adminSearchContainer">
        <div class="d-flex align-items-center border border-2 rounded py-1 ps-2 gap-1 flex-grow-1">
            <img src="/images/static/search.png" alt="search">
            <input type="search" id="adminSearch" placeholder="Search" class="form-control border-0">
        </div>
        <div class="spinner-border text-secondary opacity-0" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <button class="btn button d-flex align-items-center gap-2" id="addBtn">
        <img src="/images/static/plus.png" alt="plus">
        Add
    </button>
</div>
<div class="table-responsive border">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Last Modified</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.LongCount() == 0)
            {
                <tr>
                    <td colspan="100%">
                        <div class="text-center py-3">No themes found.</div>
                    </td>
                </tr>
            }
            @foreach (MissionThemeVM theme in Model)
            {
                <tr>
                    <td>
                        @theme.MissionThemeName
                    </td>
                    @if (theme.Status == true)
                    {
                        <td class="text-success">Active</td>
                    }
                    else
                    {
                        <td class="text-danger">Not Active</td>
                    }

                    @if (theme.UpdatedAt != null)
                    {
                        <td>@theme.UpdatedAt?.ToString("d")</td>
                    }
                    else
                    {
                        <td>@theme.CreatedAt.ToString("d")</td>
                    }
                    <td>
                        <img src="/images/static/editing.png"
                         class="cursor-pointer d-inline width-max-conatent me-2" alt="edit"
                         height="20px" width="20px" data-edit="@theme.MissionThemeId">
                        <img src="/images/static/bin.png" class="cursor-pointer d-inline width-max-conatent"
                         alt="bin" height="20px" width="20px" data-delete="@theme.MissionThemeId">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination d-flex justify-content-end gap-1 px-3 my-5"></div>