@model List<StoryVM>
@if(Model.Count() == 0)
{   
<h3 class="text-center color-darkgray">No story found</h3>
}
<section class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (StoryVM story in Model)
    {
        <div class="col">
            <div class="card shadow-sm h-100 sl-card">
                <div class="card-top position-relative">
                    <img src="@story.StoryThumbnail"
                     class="card-img-top h-100 object-fit-cover"
                     alt="mission image" />
                    <div class="bg-white rounded-pill mx-auto translate-middle-y px-2 py-1 width-max-conatent fw-light mb-n2">
                        @story.MissionTheme
                    </div>
                    <div class="sl-story-overlay position-absolute d-none justify-content-center align-items-center">
                        <a asp-controller="Story" asp-action="StoryDetails" asp-route-id="@story.StoryId"
                       class="btn border rounded-pill d-flex align-items-center gap-2 border-white text-white">
                            View details
                            <img src="/images/static/right-arrow-white.svg" alt="right arrow" />
                        </a>
                    </div>
                </div>
                <div class="card-body color-darkgray py-4">
                    <h4>
                        @story.Title
                    </h4>
                    <div class="fw-light ellipsis-2 text-black-50 text-15">
                        @story.ShortDescription
                    </div>
                    <div class="d-flex gap-2 align-items-center mt-3">
                        <img src="@story.UserVM.Avatar"
                         alt="user image"
                         class="rounded-circle object-fit-cover"
                         height="50px"
                         width="50px" />
                        <span>@story.UserVM.FirstName @story.UserVM.LastName</span>
                    </div>
                    <a asp-controller="Story" asp-action="StoryDetails" asp-route-id="@story.StoryId"
                   class="sl-view-btn btn border rounded-pill d-flex align-items-center gap-2 mt-3 p-2 width-max-conatent mx-auto border-dark">
                        View details
                        <img src="/images/static/right-arrow-dark.svg" alt="right arrow" />
                    </a>
                </div>
            </div>
        </div>
    }
</section>