@model StoryVM
@{
    ViewData["Title"] = "Stories";
    var isDraft = ViewBag.draft;
}
<div class="grid-body d-grid min-vh-100">
    <partial name="_Navbar"></partial>
    <section class="container py-4">
        <h2 class="color-darkgray fw-light mb-4">Share your Story</h2>
        <form asp-action="ShareStory" method="POST" class="d-flex flex-column gap-4 color-darkgray" id="ssForm" enctype="multipart/form-data">
            <input hidden value="@isDraft" name="isDraft" id="isDraft">
            @if (isDraft == "true")
            {
                @foreach (StoryMediaVM sm in Model.StoryMediaVM)
                {
                    <input hidden name="preLoaded" value="@sm.MediaName@sm.MediaType" data-type="@sm.MediaType" data-path="@sm.MediaPath@sm.MediaName@sm.MediaType"/>
                }
            }
            <input hidden asp-for="StoryId" id="storyId"/>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <span> Select Mission </span>
                    <select class="form-select" id="MissionId" asp-for="MissionId">
                        <option value="0" disabled selected>Select your mission</option>
                        @foreach (var mission in Model.MissionVMs)
                        {
                            <option value="@mission.MissionId">@mission.Title</option>
                        }
                    </select>
                    <span asp-validation-for="MissionId" class="text-danger text-14"></span>
                </div>
                <div class="col">
                    <label asp-for="Title">My Story Title</label>
                    <input type="text" id="Title" class="form-control" placeholder="Enter story title" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger text-14"></span>
                </div>
            </div>

            <div>
                <label asp-for="ShortDescription">Enter Short Description</label>
                <input type="text" id="ShortDescription" asp-for="ShortDescription" class="form-control" placeholder="Enter short description"/>
                <span asp-validation-for="ShortDescription" class="text-danger text-14"></span>
            </div>

            <!-- rich text editor -->
            <div>
                <label>My Story</label>
                <textarea id="tiny" asp-for="Description"></textarea>
                <span id="DescriptionError" class="text-danger text-14"></span>
            </div>
            <div>
                <label for="VideoUrl">Enter Video URL</label>
                <input type="text" placeholder="Enter your URL" class="form-control" asp-for="VideoUrl" />
                <span asp-validation-for="VideoUrl" class="text-danger text-14"></span>
            </div>

            <div class="ss-dragndrop d-flex flex-column align-items-center justify-content-center border border-secondary border-dashed py-4 cursor-pointer">
                <img src="/images/static/drag-and-drop.png" alt="drag" />
                <input type="file" name="ssImagesInput" id="ssImagesInput" multiple hidden accept=".png, .jpg, .jpeg" />
                <span id="mediaError" class="text-danger text-14"></span>
            </div>
            <div class="ss-selected-images d-flex gap-2 gap-md-3 flex-wrap">
            </div>
            <div class="d-flex justify-content-between">
                <button id="cancelBtn" type="button" class="btn button-dark">
                    Cancel
                </button>
                <div>
                    <button type="submit" value="save" class="btn button me-md-1">Save</button>
                    <button type="submit" value="submit" class="btn button">Submit</button>
                </div>
            </div>
            <input hidden id="action" name="action" />
        </form>
    </section>
    <partial name="_Footer"></partial>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial.cshtml"></partial>
<script src="/js/shareStory.js"></script>
<script src="/js/tinymceScript.js"></script>
}