@model List<MissionVM>
@using CI_Platform.Entities.Constants
@{
    var userId = Context.Session.GetString("UserId");
}
<input hidden value="@ViewBag.TotalMissions" id="totalMissions">
<section class="index-grid-view row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    @foreach (MissionVM mission in Model)
    {
        <div class="col -z-index-1">
            <div class="card shadow-sm h-100">
                <div class="position-relative card-top">
                    <a href="#">
                        <img src="@mission.MissionThumbnail"
                         class="card-img-top h-100 object-fit-cover" alt="mission image">
                    </a>
                    <div class="position-absolute p-2 rounded-pill index-city d-flex gap-1 align-items-center">
                        <img src="/images/static/pin.png" alt="pin"><span class="text-light fw-light text-14">@mission.CityVM.CityName</span>
                    </div>
                    @if (!string.IsNullOrEmpty(userId) && mission?.FavouriteMissionVM?.LongCount() > 0 && mission.FavouriteMissionVM.Any(fm => fm.UserId == long.Parse(userId)))
                    {
                        <a href="#" class="position-absolute p-2 rounded-circle index-wishlist bg-danger">
                            <img src="/images/static/heart.png" alt="heart">
                        </a>
                    }
                    else
                    {
                        <a href="#" class="position-absolute p-2 rounded-circle index-wishlist">
                            <img src="/images/static/heart.png" alt="heart">
                        </a>
                    }
                    <a href="#" class="position-absolute p-2 rounded-circle index-invite">
                        <img src="/images/static/user.png" alt="user">
                    </a>
                    @if (mission.Status == MissionStatus.FINISHED)
                    {
                        <span class="bg-warning px-2 py-1 rounded-start rounded-pill position-absolute top-10 text-white text-14">
                            CLOSED
                        </span>
                    }
                    else if (!string.IsNullOrEmpty(userId) && mission?.MissionApplicationVM?.LongCount() > 0 &&
                    mission.MissionApplicationVM.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == ApprovalStatus.APPROVED))
                    {
                        <span class="bg-success px-2 py-1 rounded-start rounded-pill position-absolute top-10 text-white text-14">
                            APPLIED
                        </span>
                    }
                    <div class="bg-white rounded-pill mx-auto translate-middle-y px-2 py-1 width-max-conatent fw-light mb-n2">
                        @mission.MissionThemeVM.MissionThemeName
                    </div>
                </div>
                <div class="card-body color-darkgray">
                    <a href="#" class="color-darkgray">
                        <h4 class="card-title">@mission.Title</h4>
                    </a>
                    @if (mission.Status == MissionStatus.FINISHED)
                    {
                        <p class="card-text fw-light ellipsis-7 text-black-50 text-15">@mission.Description</p>
                    }
                    else
                    {
                        <p class="card-text fw-light ellipsis-2 text-black-50 text-15">@mission.ShortDescription</p>
                    }
                    <div class="d-flex justify-content-between mb-2">
                        <span class="fw-light">@mission.OrganizationName</span>
                        <div class="d-flex align-items-center">
                            @for (byte i = 0; i < mission.MissionRating; i++)
                            {
                                <img src="/images/static/selected-star.png" alt="selected-star">
                            }
                            @for (byte i = 0; i < 5 - mission.MissionRating; i++)
                            {
                                <img src="/images/static/star.png" alt="star">
                            }
                        </div>
                    </div>
                    @if (mission.Status == MissionStatus.ONGOING)
                    {
                        <div class="bg-white rounded-pill px-2 mx-auto py-1 width-max-conatent -translate-middle-y border fw-light">
                            @if (mission.MissionType == MissionType.GOAL)
                            {
                                <span>@mission.MissionGoalVM.GoalObjective</span>
                            }
                            else if (mission.StartDate != null && mission.EndDate != null)
                            {
                                <span>
                                    From @mission.StartDate?.ToString("d") untill @mission.EndDate?.ToString("d")
                                </span>
                            }
                            else
                            {
                                <span>Ongoing Opportunity</span>
                            }
                        </div>
                        <div class="d-flex justify-content-around gap-xl-1 border-top color-darkgray py-2 pt-4">
                            @if (mission.RegistrationDeadline != null && mission.RegistrationDeadline < DateTime.Now)
                            {
                                <div class="d-flex align-items-center gap-3">
                                    <img src="/images/static/Already-volunteered.png" alt="Seats-left">
                                    <div>
                                        @if (mission.MissionApplicationVM == null)
                                        {
                                            <div>0</div>
                                        }
                                        else
                                        {
                                            <div>@mission.MissionApplicationVM.Where(ma => ma.ApprovalStatus == ApprovalStatus.APPROVED)?.LongCount()</div>
                                        }
                                        <div class="fw-light text-14">Already volunteered</div>
                                    </div>
                                </div>
                            }
                            else if (mission.TotalSeats != null)
                            {
                                <div class="d-flex align-items-center gap-3 flex-shrink-0">
                                    <img src="/images/static/Seats-left.png" alt="Seats-left">
                                    <div>
                                        <div>@mission.SeatsLeft</div>
                                        <div class="fw-light text-14">Seats left</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center gap-3">
                                    <img src="/images/static/Already-volunteered.png" alt="Seats-left">
                                    <div>
                                        @if (mission.MissionApplicationVM == null)
                                        {
                                            <div>0</div>
                                        }
                                        else
                                        {
                                            <div>@mission.MissionApplicationVM.Where(ma => ma.ApprovalStatus == ApprovalStatus.APPROVED)?.LongCount()</div>

                                        }
                                        <div class="fw-light text-14">Already volunteered</div>
                                    </div>
                                </div>
                            }
                            @if (mission.RegistrationDeadline != null)
                            {
                                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                                    <img src="/images/static/deadline.png" alt="deadline">
                                    <div>
                                        <div>@mission.RegistrationDeadline?.ToString("d")</div>
                                        <div class="fw-light text-14">Deadline</div>
                                    </div>
                                </div>
                            }
                            @if (mission.MissionType == MissionType.GOAL)
                            {
                                var value = mission.MissionGoalVM.GoalValue;
                                var achieved = mission.MissionGoalVM.GoalAchieved != null ? mission.MissionGoalVM.GoalAchieved : 1;
                                var percentage = achieved * 100 / value;
                                <div class="d-flex align-items-center gap-2 flex-grow-1">
                                    <img src="/images/static/achieved.png" alt="achieved">
                                    <div class="w-80">
                                        <div class="progress" role="progressbar" aria-label="Basic example"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="height:0.5rem; width: 100%;">
                                            <div class="progress-bar bg-light-orange" style="width: @percentage%"></div>
                                        </div>
                                        <div class="fw-light text-14">@mission.MissionGoalVM.GoalAchieved Achieved</div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    <hr class="m-0 bg-secondary">
                    <a href="#"
                   class="btn button d-flex gap-2 align-items-center mx-auto mt-3 width-max-conatent">
                        @if ((!string.IsNullOrEmpty(userId) && mission?.MissionApplicationVM?.LongCount() > 0 &&
                       mission.MissionApplicationVM.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == ApprovalStatus.APPROVED))
                       || mission.Status == MissionStatus.FINISHED
                       || mission?.SeatsLeft == 0
                       || mission?.RegistrationDeadline < DateTime.Now)
                        {
                            <span>View Details</span>
                        }
                        else
                        {
                            <span>Apply</span>
                        }

                        <img src="/images/static/right-arrow.png" alt="rigth arrow">
                    </a>
                </div>
            </div>
        </div>
    }
</section>

<section class="index-list-view d-grid gap-3">
    @foreach (MissionVM mission in Model)
    {
        <div class="card shadow-sm -z-index-1">
            <div class="row g-0">
                <div class="h-100 position-relative col-4 col-lg-3">
                    <a href="#">

                        <img src="@mission.MissionThumbnail"
                         class="rounded-start h-100 w-100 object-fit-cover" alt="mission image">
                    </a>
                    <div class="position-absolute p-2 rounded-pill index-city d-flex gap-1 align-items-center">
                        <img src="/images/static/pin.png" alt="pin"><span class="text-light fw-light text-14">@mission.CityVM.CityName</span>
                    </div>
                    @if (!string.IsNullOrEmpty(userId) && mission?.FavouriteMissionVM?.LongCount() > 0 && mission.FavouriteMissionVM.Any(fm => fm.UserId == long.Parse(userId)))
                    {
                        <a href="#" class="position-absolute p-2 rounded-circle index-wishlist bg-danger">
                            <img src="/images/static/heart.png" alt="heart">
                        </a>
                    }
                    else
                    {
                        <a href="#" class="position-absolute p-2 rounded-circle index-wishlist">
                            <img src="/images/static/heart.png" alt="heart">
                        </a>
                    }
                    <a href="#" class="position-absolute p-2 rounded-circle index-invite">
                        <img src="/images/static/user.png" alt="user">
                    </a>
                    @if (mission.Status == MissionStatus.FINISHED)
                    {
                        <span class="bg-warning px-2 py-1 rounded-start rounded-pill position-absolute top-10 text-white text-14">
                            CLOSED
                        </span>
                    }
                    else if (!string.IsNullOrEmpty(userId) && mission?.MissionApplicationVM?.LongCount() > 0 &&
                    mission.MissionApplicationVM.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == ApprovalStatus.APPROVED))
                    {
                        <span class="bg-success px-2 py-1 rounded-start rounded-pill position-absolute top-10 text-white text-14">
                            APPLIED
                        </span>
                    }
                    <div class="bg-white rounded-pill mx-auto translate-middle-y px-2 py-1 width-max-conatent fw-light">
                        @mission.MissionThemeVM.MissionThemeName
                    </div>
                </div>
                <div class="card-body col-8 col-lg-9 color-darkgray">
                    <div class="d-flex justify-content-between text-15 fw-light">
                        <div class="d-flex gap-4 align-items-center">
                            <div class="d-flex align-items-center gap-2">
                                <img src="/images/static/web.png" alt="web">
                                <span>@mission.MissionThemeVM.MissionThemeName</span>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img src="/images/static/organization.png" alt="organization">
                                <span class="width-max-conatent">@mission.OrganizationName</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            @for (byte i = 0; i < mission.MissionRating; i++)
                            {
                                <img src="/images/static/selected-star.png" alt="selected-star">
                            }
                            @for (byte i = 0; i < 5 - mission.MissionRating; i++)
                            {
                                <img src="/images/static/star.png" alt="star">
                            }
                        </div>
                    </div>
                    <a href="#">
                        <h4 class="card-title mt-1 mt-lg-2 mb-0 mb-lg-1">
                            @mission.Title
                        </h4>
                    </a>
                    @if (mission.Status == MissionStatus.FINISHED)
                    {
                        <p class="card-text fw-light ellipsis-2 text-black-50 text-15">@mission.Description</p>
                    }
                    else
                    {
                        <p class="card-text fw-light text-truncate text-black-50 text-15">@mission.ShortDescription</p>
                    }
                    <div class="d-flex justify-content-between align-items-center mt-1 mt-lg-2">
                        @if (mission.Status == MissionStatus.ONGOING)
                        {
                            <div class="d-flex color-darkgray gap-1 gap-lg-3 align-items-center flex-wrap">
                                <div class="d-flex align-items-center gap-1">
                                    @if (mission.RegistrationDeadline != null && mission.RegistrationDeadline < DateTime.Now)
                                    {
                                        <img src="/images/static/Already-volunteered.png" alt="already volunteered">
                                        <div>
                                            @if (mission.MissionApplicationVM == null)
                                            {
                                                <div>0</div>
                                            }
                                            else
                                            {
                                                <div>@mission.MissionApplicationVM.Where(ma => ma.ApprovalStatus == ApprovalStatus.APPROVED)?.LongCount()</div>
                                            }
                                            <div class="fw-light text-14">Already volunteered</div>
                                        </div>
                                    }
                                    else if (mission.TotalSeats != null)
                                    {
                                        <img src="/images/static/Seats-left.png" alt="Seats-left">
                                        <div>
                                            <div>@mission.SeatsLeft</div>
                                            <div class="fw-light text-14">Seats left</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <img src="/images/static/Already-volunteered.png" alt="already volunteered">
                                        <div>
                                            @if (mission.MissionApplicationVM == null)
                                            {
                                                <div>0</div>
                                            }
                                            else
                                            {
                                                <div>@mission.MissionApplicationVM.Where(ma => ma.ApprovalStatus == ApprovalStatus.APPROVED)?.LongCount()</div>

                                            }
                                            <div class="fw-light text-14">Already volunteered</div>
                                        </div>
                                    }
                                </div>
                                @if (mission.RegistrationDeadline != null)
                                {
                                    <div class="d-flex align-items-center gap-1 d-none">
                                        <img src="/images/static/deadline.png" alt="deadline">
                                        <div>
                                            <div>@mission.RegistrationDeadline</div>
                                            <div class="fw-light text-14">Deadline</div>
                                        </div>
                                    </div>
                                }
                                @if (mission.MissionType == MissionType.GOAL)
                                {
                                    var value = mission.MissionGoalVM.GoalValue;
                                    var achieved = mission.MissionGoalVM.GoalAchieved != null ? mission.MissionGoalVM.GoalAchieved : 1;
                                    var percentage = achieved * 100 / value;
                                    <div class="d-flex align-items-center gap-1">
                                        <img src="/images/static/achieved.png" alt="achieved">
                                        <div class="w-100">
                                            <div class="progress" role="progressbar" aria-label="Basic example"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                     style="height:0.5rem; width: 100%;">
                                                <div class="progress-bar bg-light-orange" style="width: @percentage%"></div>
                                            </div>
                                            <div class="fw-light text-14">@mission.MissionGoalVM.GoalAchieved Achieved</div>
                                        </div>
                                    </div>
                                }
                                <div class="d-flex align-items-center gap-1">
                                    <img src="/images/static/calender.png" alt="calender">
                                    <div class="fw-light text-14 gap-1 gap-lg-0 d-flex flex-row flex-lg-column">
                                        @if (mission.MissionType == MissionType.GOAL)
                                        {
                                            <div>@mission.MissionGoalVM.GoalObjective</div>
                                        }
                                        else if (mission.StartDate != null && mission.EndDate != null)
                                        {
                                            <div>From @mission.StartDate?.ToString("d")</div>
                                            <div>untill @mission.EndDate?.ToString("d")</div>
                                        }
                                        else
                                        {
                                            <span>Ongoing Opportunity</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <a href="#"
                       class="btn button d-flex gap-2 align-items-center">
                            @if ((!string.IsNullOrEmpty(userId) && mission?.MissionApplicationVM?.LongCount() > 0 &&
                           mission.MissionApplicationVM.Any(ma => ma.UserId == long.Parse(userId) && ma.ApprovalStatus == ApprovalStatus.APPROVED))
                           || mission.Status == MissionStatus.FINISHED
                           || mission?.SeatsLeft == 0
                           || mission?.RegistrationDeadline < DateTime.Now)
                            {
                                <span>View Details</span>
                            }
                            else
                            {
                                <span>Apply</span>
                            }

                            <img src="/images/static/right-arrow.png" alt="rigth arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
