@using CI_Platform.Entities.Constants
@model List<MissionTimesheetVM>
@{
    var goalSheet = Model.Where(timesheet => timesheet.MissionType == MissionType.GOAL);
    var timeSheet = Model.Where(timesheet => timesheet.MissionType == MissionType.TIME);
}
<div class="flex-basis-100 border shadow-sm p-3 py-md-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="fw-light">Volunteering Hours</div>
        <button class="btn button d-flex gap-2 px-3" id="openHourModal">
            <span class="fw-bold">+</span> Add
        </button>
    </div>
    <div class="ts-table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Mission</th>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Minutes</th>
                </tr>
            </thead>
            <tbody class="fw-light">
                @if (timeSheet.Count() == 0)
                {
                    <tr>
                        <td colspan="100%">
                            <div class="text-center">No entries found.</div>
                        </td>
                    </tr>
                }
                @foreach (var time in timeSheet)
                {
                    <tr>
                        <td>@time.MissionName</td>
                        <td>@time.DateVolunteered?.ToString("d")</td>
                        <td>@time.TimeVolunteered.Value.Hours h</td>
                        <td>@time.TimeVolunteered.Value.Minutes min</td>
                        @if (time.ApprovalStatus == ApprovalStatus.PENDING)
                        {
                            <td>
                                <div class="d-flex gap-2">
                                    <img src="/images/static/editing.png" class="editHour cursor-pointer" alt="edit" height="20px" width="20px"
                                 data-id="@time.TimesheetId">
                                    <img src="/images/static/bin.png" class="deleteHour cursor-pointer" alt="bin" height="20px" width="20px"
                                 data-id="@time.TimesheetId">
                                </div>
                            </td>
                        }
                        else if (time.ApprovalStatus == ApprovalStatus.APPROVED)
                        {
                            <td>
                                <div class="width-max-conatent">
                                <img src="/images/static/check-circle.svg" alt="edit" height="20px" width="20px">
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="/images/static/x-circle.svg" alt="edit" height="20px" width="20px">
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="flex-basis-100 border shadow-sm p-3 py-md-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="fw-light">Volunteering Goals</div>
        <button class="btn button d-flex gap-2 px-3" id="openGoalModal">
            <span class="fw-bold">+</span> Add
        </button>
    </div>

    <div class="ts-table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Mission</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="fw-light">
                @if (goalSheet.Count() == 0)
                {
                    <tr>
                        <td colspan="100%">
                            <div class="text-center">No entries found.</div>
                        </td>
                    </tr>
                }
                @foreach (var goal in goalSheet)
                {
                    <tr>
                        <td>@goal.MissionName</td>
                        <td>@goal.DateVolunteered?.ToString("d")</td>
                        <td>@goal.Action</td>
                        @if (goal.ApprovalStatus == ApprovalStatus.PENDING)
                        {
                            <td>
                                <div class="d-flex gap-2">
                                    <img src="/images/static/editing.png" class="editGoal cursor-pointer" alt="edit"
                                 height="20px" width="20px" data-id="@goal.TimesheetId">
                                    <img src="/images/static/bin.png" class="deleteGoal cursor-pointer" alt="bin" height="20px" width="20px"
                                 data-id="@goal.TimesheetId">
                                </div>
                            </td>
                        }else if (goal.ApprovalStatus == ApprovalStatus.APPROVED)
                        {
                            <td>
                                <div class="width-max-conatent">
                                <img src="/images/static/check-circle.svg" alt="edit" height="20px" width="20px">
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="/images/static/x-circle.svg" alt="edit" height="20px" width="20px">
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
