@model TimeMissionVM
<form id="MissionForm" enctype="multipart/form-data">
    <input hidden asp-for="MissionId"/>
    <div class="border border-2">
        <div class="py-2 px-4 bg-light fs-4 border-bottom border-2">Add Mission</div>
        <div class="d-grid gap-3 p-4 color-darkgray">
            <div>
                <label asp-for="Title" class="form-label"></label>
                <input type="text" placeholder="Enter title" class="form-control" asp-for="Title">
                <span class="text-14 text-danger" asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="ShortDescription" class="form-label"></label>
                <input type="text" class="form-control" placeholder="Enter short description" asp-for="ShortDescription">
                <span class="text-14 text-danger" asp-validation-for="ShortDescription"></span>
            </div>
            <div>
                <label asp-for="Description" class="form-label"></label>
                <textarea id="tiny" asp-for="Description"></textarea>
                <span id="descriptionError" class="text-14 text-danger"></span>
            </div>
            <div>
                <label asp-for="OrganizationName" class="form-label"></label>
                <input type="text" class="form-control" placeholder="Enter organization's name" asp-for="OrganizationName">
                <span class="text-14 text-danger" asp-validation-for="OrganizationName" placeholder="Enter organization name"></span>
            </div>
            <div>
                <label class="form-label" asp-for="OrganizationDetails"></label>
                <textarea rows="4" type="text" asp-for="OrganizationDetails" placeholder="Enter organization description..."
                          class="form-control"></textarea>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <label class="form-label">Select Mission Country</label>
                    <select class="form-select" asp-for="MissionCountry" id="countryDropdown">
                        <option value="0" disabled selected>Select mission country</option>
                        @foreach (CountryVM country in Model.CountryVMs)
                        {
                            <option value="@country.CountryId">@country.CountryName</option>
                        }
                    </select>
                    <span class="text-danger text-14" asp-validation-for="MissionCountry"></span>
                </div>
                <div class="col">
                    <label class="form-label">Select Mission City</label>
                    <select class="form-select" asp-for="MissionCity" id="cityDropdown">
                        <option value="0" disabled selected>Select mission city</option>
                        @foreach (CityVM city in Model.CityVMs)
                        {
                            <option data-id="@city.CountryId" value="@city.CityId">@city.CityName</option>
                        }
                    </select>
                    <span class="text-danger text-14" asp-validation-for="MissionCity"></span>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <label class="form-label">Select Mission Theme</label>
                    <select class="form-select" asp-for="MissionThemeId">
                        <option value="0" disabled selected>Select mission theme</option>
                        @foreach (MissionThemeVM theme in Model.ThemeVMs)
                        {
                            <option value="@theme.MissionThemeId">@theme.MissionThemeName</option>
                        }
                    </select>
                    <span class="text-danger text-14" asp-validation-for="MissionThemeId"></span>
                </div>
                <div class="col">
                    <label class="form-label">Availability</label>
                    <select class="form-select" asp-for=Availability>
                        <option disabled selected>Select mission availability</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Week-end Only</option>
                        <option value="4">Monthly</option>
                    </select>
                    <span class="text-danger text-14" asp-validation-for="Availability"></span>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div>
                    <label asp-for="StartDate"></label>
                    <input type="date" class="form-control" asp-for="StartDate" placeholder="Select date">
                    <span class="text-danger text-14" asp-validation-for="StartDate"></span>
                    <span class="text-danger text-14" id="StartDateError"></span>
                </div>
                <div>
                    <label asp-for="EndDate"></label>
                    <input type="date" class="form-control" asp-for="EndDate" placeholder="Select date">
                    <span class="text-danger text-14" asp-validation-for="EndDate"></span>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div>
                    <label asp-for="TotalSeats"></label>
                    <input type="text" class="form-control" asp-for="TotalSeats" placeholder="enter total seats">
                </div>
                <div>
                    <label asp-for="RegistrationDeadline"></label>
                    <input type="date" class="form-control" asp-for="RegistrationDeadline" placeholder="Select date">
                </div>
            </div>
            @foreach (MissionMediaVM sm in Model.MissionMediaVM)
            {
                <input hidden name="preLoadedImages" value="@sm.MediaName@sm.MediaType" data-type="@sm.MediaType" data-path="@sm.MediaPath@sm.MediaName@sm.MediaType" />
            }
            <div>
                <label for="ImagesInput">Mission Images</label>
                <div class="dragarea d-flex flex-column align-items-center justify-content-center border border-secondary border-dashed py-4 cursor-pointer">
                    <img src="/images/static/drag-and-drop.png" alt="drag" />
                    <input type="file" name="ImagesInput" id="ImagesInput" multiple hidden accept=".png, .jpg, .jpeg" />
                    <span id="mediaError" class="text-danger text-14"></span>
                </div>
                <div class="selected-images d-flex gap-2 gap-md-3 flex-wrap mt-2"></div>
            </div>
             @foreach (MissionDocumentVM sm in Model.MissionDocumentVM)
            {
                <input hidden name="preLoadedDocs" data-title="@sm.Title" value="@sm.DocumentName@sm.DocumentType" data-type="@sm.DocumentType" data-doc="@sm.DocumentPath@sm.DocumentName@sm.DocumentType" />
            }
            <div>
                <label for="DocumentsInput">Mission Documents</label>
                <input type="file" class="form-control" name="DocumentsInput" id="DocumentsInput" multiple accept=".doc, .pdf, .docx, .xls, .xlsx" />
                <div class="selected-documents d-flex gap-3 flex-wrap mt-2"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                <div>
                    <label asp-for="IsActive" class="form-label"></label>
                    <select asp-for="IsActive" class="form-select">
                        <option selected disabled>Select status</option>
                        <option value="true">Active</option>
                        <option value="false">Not Active</option>
                    </select>
                    <span class="text-14 text-danger" asp-validation-for="IsActive"></span>
                </div>
                @foreach(MissionSkillVM ms in Model.MissionSkillVM){
                    <input hidden name="preLoadedSkills" value="@ms.SkillId"/>
                }
                <div>
                    <label class="form-label">Mission Skills</label>
                    <select name="MissionSkills" id="MissionSkills" multiple class="form-select">
                        @foreach (SkillVM skill in Model.SkillVMs)
                        {
                            @if (Model.MissionSkillVM.Any(ms => ms.SkillId == skill.SkillId))
                            {
                                <option value="@skill.SkillId" selected>@skill.SkillName</option>
                            }
                            else
                            {
                                <option value="@skill.SkillId">@skill.SkillName</option>
                            }
                        }
                    </select>
                    <span class="text-14 text-danger" id="skillError"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end mt-4">
        <button type="button" id="cancelBtn" class="btn button-dark px-4">
            Cancel
        </button>
        <button type="submit" class="btn button px-4">Save</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial"></partial>
