@model MissionApplicationVM
<div class="modal fade" id="viewApplicationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-grid gap-3">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <label class="form-label">Name</label>
                            <input type="text" value="@Model.UserName" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <label class="form-label" asp-for="@Model.User.PhoneNumber"></label>
                            <input type="text" asp-for="@Model.User.PhoneNumber" readonly class="form-control">
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <label class="form-label" asp-for="@Model.User.EmployeeId"></label>
                            <input type="text" readonly asp-for="@Model.User.EmployeeId" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label" asp-for="@Model.User.Department"></label>
                            <input type="text" readonly asp-for="@Model.User.Department" class="form-control">
                        </div>
                    </div>
                    <div>
                        <label class="form-label" asp-for="@Model.User.ProfileText"></label>
                        <textarea type="text" asp-for="@Model.User.ProfileText" readonly class="form-control"></textarea>
                    </div>
                    <div>
                        <label class="form-label" asp-for="@Model.User.WhyIVolunteer"></label>
                        <textarea type="text" asp-for="@Model.User.WhyIVolunteer" readonly class="form-control"></textarea>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <label class="form-label">City</label>
                            <select class="form-select">
                                <option value="0" disabled selected>@Model.User.CityName</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label">Country</label>
                            <select class="form-select">
                                <option value="0" disabled selected>@Model.User.CountryName</option>
                            </select>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col">
                            <label class="form-label">Availability</label>
                            <select class="form-select">
                                <option value="-1" disabled selected>@Html.DisplayFor(model => Model.User.Availability)</option>

                            </select>
                        </div>
                        <div class="col">
                            <label class="form-label" asp-for="@Model.User.LinkedInUrl"></label>
                            <input type="text" readonly asp-for="@Model.User.LinkedInUrl" class="form-control">
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Skills</label>
                        <div class="border p-2">
                            @if (Model.User.UserSkillVMs.Count() == 0)
                            {
                                <div id="noSkill">No skills are selected.</div>
                            }
                            <div>
                                @foreach (UserSkillVM userSkill in Model.User.UserSkillVMs)
                                {
                                    <div>
                                        @userSkill.Skill.SkillName
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-dark px-4" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>